{% extends "indu.html" %}
{% block title %}Time Series stock analysis{% endblock %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/time1.js') }}"></script> -->
<script src="../../static/js/config.js"></script>
<script var src="{{ url_for('static', filename='js/gauge.js')}}"></script>
{% endblock %}