{% extends "nav.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<!-- Content section -->
<div class=" container jumbotron">
    <div class="container row border border-success">
      <div class="col img-responsive">
        <h1>Welcome investors, let's have "A Peek into US Fortune 500 Financial Data".</h1>
        <hr>
        <img class="img-fluid float-left" src="/static/img/Fig1.jpg" width="250" height="250">
        <br>
        <p>
            We are a one stop shop where investors gain the ability to view different variables about their favorite Fortune 500 companies.         
        </p>
           <br>
          <p class="text-left">
              While navigating through our website you will be able to find a stock analysis on Fortune 500 companies, revenue and profit statistics for these companies 
              and even the profitability per employee. This allows investors to dive deep into the worker productivity of the Fortune 500 Companies that interest them. 
              Additionally, you will be able to find a sector analysis of the different industries that the Fortune 500 companies consist of. 
              Lastly, our website contains a map of the where the companies are shown based on the amount of revenue they have. 
              Our website gives investors the tools they need to make better and more informed investments while adding to their portfolio.
          </p>        
        <br>
      </div>
      <div class="col img-responsive">
          <h1>Analysis</h1>
            <!--  -->
              <div class="row mx-md-n5">
               <!-- <div class="container  bg-light"> -->
                 <div class="col-md-6 img-responsive">
                    <a href=""><img src="/static/img/bar.png" alt="" class="img-thumbnail w-80 h-80"></a>
                  </div>
                  <div class="col-md-6 img-responsive">
                      <a href=""> <img src="/static/img/bar_pe.png" alt="" class="img-thumbnail w-80 h-80"></a>
                  </div>
              <!-- </div> -->
            </div>
           
            <div class="row mx-md-n5 top5">
              <!-- <div class="container bg-light row"> -->
              <div class="col-sm-6 img-responsive">
                  <a href=""> <img src="/static/img/timesrs.png" alt="" class="img-thumbnail w-80 h-80"></a>
              </div>
              <div class="col-sm-6 img-responsive">
              <a href=""><img src="/static/img/timecorr.png" alt="" class="img-thumbnail w-100 h-300"></a>
              </div>              
            </div>
           <!--  -->
  </div>
    </div>
    <p class="card-text text-dark"><marquee direction="left">Fortune 500 companies represent two-thirds of the U.S. GDP with $13.7 trillion in revenues, $1.1 trillion in profits, $22.6 trillion in market value, and employ 28.7 million people worldwide. ( Read More...)</marquee></p>
</div>

            <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
  <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<!-- Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
{% endblock %}