{% extends "nav.html" %}
{% block title %}Time Series stock analysis{% endblock %}
{% block body %}
            <!-- <div class="row"> -->
                <!-- <div class="col-md-12"> -->
                    <form class="form-inline" id="form">
                        <div class="form-group">                        
                                <!-- onchange="optionChanged(this.value)" -->
                                <!-- <option selected disabled>Choose any two</option> -->
                                <div class="container">
                                    <div class="row">
                                            <div class="col-md-4">
                                                    
                                                    <br>
                                                    
                                                    <select required multiple id="selDataset">
                                                    {% for row in data %}                                                    
                                                        <option>{{ row }}</option>
                                                    {% endfor %}
                                                    </select>
                                                    <p>Hold down the Ctrl (windows) / Cmd (Mac) button to select multiple options (Max 2).</p>
                                                    <br>
                                                    
                                                
                                            </div>
                                            <div class="col-md-4">
                                                    <!-- <label>Start Date</label> -->
                                                    <br>
                                                    Start Date: <input type="date" class="form-control mytext" id="startDate"  min="01-01-2015" max="2019-12-01" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
                                                    <br>
                                                    <br>
                                                    <!-- <label>End Date</label> -->
                                                      End Date: <input type="date" class="form-control mytext" id="endDate"  min="09-30-2019" max="2019-12-01" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >  
 
                                            </div>   
                                            <div class="col-md-4">
                                                
                                                <br>
                                                <button id="submit" type="submit" class="btn btn-primary" onclick="handleSubmit(event)" >Plot Stock</button>
                                                <br>
                                                <br>
                                                <button id="reset" type="reset" class="btn btn-primary" value="Reset" onclick="myFunction()">Reset Selection</button>
                                                <br>
                                                <p id="error"></p>
                                            </div>                                    

                                    <!-- </div> -->
                                    
                                
                                <!-- <div class="row"> -->

                                            <div class="col-lg-6">
                                                <div id="time1"></div>
                                            </div>
                                
                                
                                            <div class="col-lg-6">
                                                <div id="time2"></div>
                                            </div>
                                <!-- </div> -->
                            </div>

                                

                        </div>
                    </form>
                    
                <!-- </div> -->
            <!-- </div> -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="{{ url_for('static', filename='js/time1.js') }}"></script>
            <script src="{{ url_for('static', filename='js/config.js') }}"></script>
            <!-- <script src="../../static/js/config.js"></script> -->
            <!-- <script var src="../static/js/time1.js"></script> -->
{% endblock %}
